<%- include('fragments/header') %>

<div id="wrapper">
    <%- include('fragments/sidebar') %>
    <div id="page-content-wrapper">
        <header>
            <%- include('fragments/navbar') %>
        </header>

        <!-- Info Params -->
        <template id="template_info">
            <input type="hidden" id="hidd_id_colegio" value="<%= id %>">
        </template>

        <div class="root-home ">
            <div class="container-fluid content-catalogo">
                <div class="row">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Inicio</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Colegio 1</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Uniformes</li>
                            </ol>
                        </nav>
                    </div>
                    <!--
                    <div class="col-12">
                        <img src="img/colegios/foto_colegio.PNG" class="img-colegio" alt="">
                    </div>
                    -->
                </div>
            </div>

            <div class="container">
                <div id="content_cards_products" class="row">

                </div>
            </div>

            <template id="template_card_product">
                <div class="col-md-4">
                    <figure class="card card-product">
                        <div class="img-wrap">
                            <img src="/img/uniformes/confecciones-margarita-del-villar-universitario-el-salvador-10.jpg">
                        </div>
                        <figcaption class="info-card">
                            <h4 class="title"></h4>
                            <p class="desc"></p>
                        </figcaption>
                        <div class="bottom-wrap">
                            <div class="price-wrap"></div>
                        </div>
                        <div class="btn_card_product">
                            <a href="" class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#exampleModalCenter">Agregar</a>
                        </div>
                    </figure>
                </div>
            </template>
            <%- include('fragments/footer_part') %>
        </div>
    </div>
</div>

<%- include('fragments/footer') %>
<script src="/js/catalogo.js"></script>