<%- include('fragments/header') %>

<div id="wrapper">
    <%- include('fragments/sidebar') %>
    <div id="page-content-wrapper">
        <header>
            <%- include('fragments/navbar') %>
        </header>

        <!-- Info Params -->
        <template id="template_info">
            <input type="hidden" id="hidd_id_colegio" value="<%= id %>">
        </template>

        <div class="root-catalogo">
            <div class="container content-catalogo">
                <div class="row">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Inicio</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Colegio 1</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Uniformes</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="container">
                        <hr />
                        <div id="content_cards_products" class="row">

                        </div>
                    </div>
                </div>
            </div>

            <template id="template_card_product">
                <div class="col-md-4">
                    <figure class="card card-product">
                        <div class="img-wrap">
                            <img src="/img/uniformes/confecciones-margarita-del-villar-universitario-el-salvador-10.jpg">
                        </div>
                        <figcaption class="info-card text-center">
                            <h4 class="title"></h4>
                            <p class="desc"></p>
                        </figcaption>
                        <div class="btn_card_product">
                            <div class="collapse" id="collapseExample">
                                <div class="alert alert-light text-center" role="alert">
                                    <div class="price-wrap"></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="content-button-card mx-auto">
                                    <input type="hidden" class="hdd_id_producto">
                                    <a class="btn btn-sm btn-primary" data-toggle="collapse" href="#collapseExample"
                                        role="button" aria-expanded="false" aria-controls="collapseExample">
                                        + Info
                                    </a>
                                    <a href="#" id="btn-info-product" class="btn btn-sm btn-primary float-right"
                                        data-toggle="modal" data-target=".modal__product_sheet">ver ficha</a>
                                    <a href="#" class="btn btn-sm btn-primary float-right btn-express-add"><i class="fas fa-plus-circle"></i></a>
                                </div>
                            </div>
                        </div>
                    </figure>
                </div>
            </template>

            <div class="modal modal__product_sheet fade" tabindex="-1" role="dialog"
                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="card">
                            <div class="row no-gutters">
                                <aside class="col-sm-5 border-right">
                                    <article class="gallery-wrap">
                                        <div class="img-big-wrap">
                                            <div> <a href="https://uniforma.cl/547-thickbox_default/blusa-escolar-blanca-clasica.jpg"
                                                    data-fancybox=""><img src="https://uniforma.cl/547-thickbox_default/blusa-escolar-blanca-clasica.jpg"></a></div>
                                        </div> <!-- slider-product.// -->
                                        <div class="img-small-wrap">
                                            <div class="item-gallery"> <img src="https://uniforma.cl/547-thickbox_default/blusa-escolar-blanca-clasica.jpg"></div>
                                            <div class="item-gallery"> <img src="https://uniforma.cl/385-cart_default/blusa-escolar-blanca-clasica.jpg"></div>
                                            <div class="item-gallery"> <img src="https://uniforma.cl/384-cart_default/blusa-escolar-blanca-clasica.jpg"></div>
                                        </div> <!-- slider-nav.// -->
                                    </article> <!-- gallery-wrap .end// -->
                                </aside>
                                <aside class="col-sm-7">
                                    <article class="p-5">
                                        <h3 id="modal__product_title" class="title mb-3">Here dynamic title</h3>

                                        <dl>
                                            <dt>Descripción</dt>
                                            <dd>
                                                <p id="modal__product_desc">Here dynamic description.</p>
                                            </dd>
                                        </dl>
                                        <hr>
                                        <div class="row row-sizes">
                                            <div class="col-sm-7">
                                                <p>Tallas: </p>
                                                <dl class="dlist-inline dl-sizes">
                                                    <dd></dd>
                                                </dl>
                                            </div>
                                            <template id="template_sizes">
                                                <label class="form-check form-check-inline">
                                                    <input class="form-check-input input-radio-size" type="radio" name="radio-size" data-pricing="" value="">
                                                    <span class="form-check-label label-size"></span> - $ <span class="form-check-label label-price"></span>
                                                </label>
                                                <br />
                                            </template>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <dl class="dlist-inline">
                                                    <dt>Cantidad: </dt>
                                                    <dd>
                                                        <input type="number" name="txt_quantity" id="txt_quantity" min="1" max="100" value="1">
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <var class="price h3 text-warning">
                                                <span class="currency"> $</span><span id="total_span" class="num">0</span>
                                            </var>
                                        </div>
                                        <hr>
                                        <a href="/checkout" id="btn_express_buy" class="btn btn-primary"> Comprar ahora </a>
                                        <a href="#" id="btn_add_cart" class="btn btn-outline-primary">
                                            <i class="fas fa-shopping-cart"></i> Agregar al Carro
                                        </a>
                                    </article> <!-- card-body.// -->
                                </aside> <!-- col.// -->
                            </div> <!-- row.// -->
                        </div> <!-- card.// -->

                    </div>
                </div>
            </div>


            <%- include('fragments/footer_part') %>
        </div>
    </div>
</div>

<%- include('fragments/footer') %>
<script src="/js/auth.js"></script>
<script src="/js/catalogo.js"></script>