<%- include('fragments/header') %>

    <div id="wrapper">
        <%- include('fragments/sidebar') %>
            <div id="page-content-wrapper">
                <header>
                    <%- include('fragments/navbar') %>
                </header>

                <div class="container forgot-password">
                    <div class="card card-login mx-auto mt-5">
                        <div class="card-header">Cambio de Contraseña</div>
                        <div class="card-body">
                            <div class="dv_change">
                                <div class="text-center mb-4">
                                    <h4>Cambio de Contraseña</h4>
                                </div>
                                <form>
                                    <div class="form-group">
                                        <div class="form-label-group">
                                            <input type="password" id="txt_oldpass" class="form-control" placeholder="Password Antigua">
                                        </div>
                                        <br>
                                        <div class="form-label-group">
                                            <input type="password" id="txt_newpass" class="form-control" placeholder="Password Nueva">
                                        </div>
                                        <br>
                                        <div class="form-label-group">
                                            <input type="password" id="txt_newpass_confirm" class="form-control" placeholder="Confirmar Password">
                                        </div>
                                    </div>
                                    <button id="btn_change" class="btn btn-primary btn-block">Cambiar!</button>
                                </form>
                            </div>
                            <div class="dv_sended text-center" style="display: none">
                                <h4>El cambio de Contraseña</h4>
                                <p>Fue exitosa</p>

                                <form>
                                    <a href="/" class="btn btn-primary btn-block">Ir al inicio!</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include('fragments/footer_part') %>
            </div>
    </div>

    <%- include('fragments/footer') %>
    <script src="js/password.js"></script>