<%- include('fragments/header') %>

    <div id="wrapper">
        <%- include('fragments/sidebar') %>
            <div id="page-content-wrapper">
                <header>
                    <%- include('fragments/navbar') %>
                </header>

                <div class="container">
                    <div class="card card-login mx-auto mt-5">
                        <div class="card-header">Reiniciar Password</div>
                        <div class="card-body">
                            <div class="text-center mb-4">
                                <h4>Has olvidado tu contraseña?</h4>
                                <p>Ingresa el email, y te enviaremos las instrucciones para recuperarlo.</p>
                            </div>
                            <form>
                                <div class="form-group">
                                    <div class="form-label-group">
                                        <input type="email" id="inputEmail" class="form-control" placeholder="Enter email address" required="required" autofocus="autofocus">
                                    </div>
                                </div>
                                <a class="btn btn-primary btn-block" href="#">Reiniciar!</a>
                            </form>
                        </div>
                    </div>
                </div>
                <%- include('fragments/footer_part') %>
            </div>
    </div>

    <%- include('fragments/footer') %>
    <script>
        
    </script>