<%- include('fragments/header') %>

    <div id="wrapper">
        <%- include('fragments/sidebar') %>
            <div id="page-content-wrapper">
                <header>
                    <%- include('fragments/navbar') %>
                </header>

                <div class="container forgot-password">
                    <div class="card card-login mx-auto mt-5">
                        <div class="card-header">Reiniciar Password</div>
                        <div class="card-body">
                            <div class="dv_recovery">
                                <div class="text-center mb-4">
                                    <h4>Has olvidado tu contraseña?</h4>
                                    <p>Ingresa el email, y te enviaremos las instrucciones para recuperarlo.</p>
                                </div>
                                <form>
                                    <div class="form-group">
                                        <div class="form-label-group">
                                            <input type="email" id="txt_email_forgot" class="form-control" placeholder="Enter email address" autofocus="autofocus">
                                        </div>
                                    </div>
                                    <button id="btn_recovery" class="btn btn-primary btn-block">Reiniciar!</button>
                                </form>
                            </div>
                            <div class="dv_sended text-center" style="display: none">
                                <h4>La recuperación de Contraseña</h4>
                                <p>Fue exitosa, revisar correo electronico.</p>

                                <form>
                                    <a href="/" class="btn btn-primary btn-block">Ir al inicio!</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include('fragments/footer_part') %>
            </div>
    </div>

    <%- include('fragments/footer') %>
    <script src="js/password.js"></script>